
<div class="about_us">
  <div class="container">
    <div class="about_team">
      <h2 class="about_team__heading">About our team</h2>
      <p class="about_team__text">Three best friends who worked together in the moving business for over six years had a dream. They wanted to start a company of their own, so they established Royal Moving in 2012.</p>
      <h4 class="about_team__founders">Founders</h4>
    </div>
  </div>
  <div class="container">
    <ul class="teams">
      <li class="teams__row">
        <div class="row_items"><img src="../img/chel1.png" alt="img"/>
          <div class="row_items__yellow"><span>Vlad</span>
            <p>Marketing & Sales</p>
          </div>
        </div>
        <div class="row_items"><img src="../img/chel2.png" alt="img"/>
          <div class="row_items__yellow"><span>Vlad</span>
            <p>Equipment Maintenance</p>
          </div>
        </div>
        <div class="row_items"><img src="../img/chel3.png" alt="img"/>
          <div class="row_items__yellow"><span>Fedor</span>
            <p>Human Resources</p>
          </div>
        </div>
      </li>
      <li class="teams__row">
        <div class="row_items"><img src="../img/chel4.png" alt="img"/>
          <div class="row_items__white"><span>Vlad</span>
            <p>Marketing & Sales</p>
          </div>
        </div>
        <div class="row_items"><img src="../img/chel5.png" alt="img"/>
          <div class="row_items__white"><span>Vlad</span>
            <p>Equipment Maintenance</p>
          </div>
        </div>
        <div class="row_items"><img src="../img/chel6.png" alt="img"/>
          <div class="row_items__white"><span>Fedor</span>
            <p>Human Resources</p>
          </div>
        </div>
      </li>
      <li class="teams__row">
        <div class="row_items"><img src="../img/chel7.png" alt="img"/>
          <div class="row_items__white"><span>Vlad</span>
            <p>Marketing & Sales</p>
          </div>
        </div>
        <div class="row_items"><img src="../img/chel8.png" alt="img"/>
          <div class="row_items__white"><span>Vlad</span>
            <p>Equipment Maintenance</p>
          </div>
        </div>
        <div class="row_items"><img src="../img/chel9.png" alt="img"/>
          <div class="row_items__white"><span>Fedor</span>
            <p>Human Resources</p>
          </div>
        </div>
      </li>
      <li class="teams__row">
        <div class="row_items"><img src="../img/chel10.png" alt="img"/>
          <div class="row_items__white"><span>Vlad</span>
            <p>Marketing & Sales</p>
          </div>
        </div>
        <div class="row_items"><img src="../img/chel11.png" alt="img"/>
          <div class="row_items__white"><span>Vlad</span>
            <p>Equipment Maintenance</p>
          </div>
        </div>
        <div class="row_items"><img src="../img/chel5.png" alt="img"/>
          <div class="row_items__white"><span>Fedor</span>
            <p>Human Resources</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="btn_see"><a href="#">See more</a></div>
  </div>
</div>