
<div class="about_gallery">
  <div class="container">
    <div class="gallery_video">
      <h2 class="gallery_video__heading">Our gallery</h2>
      <ul class="gallery_slider">
        <li class="gallery_slider__items">
          <iframe src="https://www.youtube.com/embed/psqu37482pk?modestbranding=1;rel=0;autohide=1;controls=1;" allowfullscreen="" title="video"></iframe>
        </li>
        <li class="gallery_slider__items"><img src="../img/About_slider1.jpg" alt="about1"/></li>
        <li class="gallery_slider__items"><img src="../img/About_slider2.jpg" alt="about2"/></li>
        <li class="gallery_slider__items"><img src="../img/About_slider3.jpg" alt="about3"/></li>
        <li class="gallery_slider__items">
          <div class="gallery_btn">
            <p>Are you<br/>ready<br/>to move?</p><a href="#">Get a quote</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn_see"><a href="#">See more</a></div>
  </div>
  <div class="container">
    <div class="gallery_text">
      <h2 class="gallery_text__heading">Serving Los Angeles</h2>
      <p class="gallery_text__content">Three best friends who worked together in the moving business for over six years had a dream. They wanted to start a company of their own, so they established Royal Moving in 2012. Why start a Los Angeles moving company? They had a passion for helping people, and with their six years of experience they knew the business and were good at it. Royal Moving has built a team of movers with the same motivation, standards and dedication to customer service as the three founders.</p>
    </div>
  </div>
</div>