
<div class="blog_sg1">
  <div class="container">
    <div class="blog_main">
      <h2 class="blog_main__heading">Our Blog</h2>
      <ul class="blog_main__tabs">
        <li class="active"><a href="#tab-all">all</a></li>
        <li><a href="#tab2">packing</a></li>
        <li><a href="#tab1">wraping</a></li>
      </ul>
      <div id="tab-all">
        <ul class="table_blog">
          <li class="table_blog__rows">
            <div class="table_blog__items">
              <iframe src="https://www.youtube.com/embed/psqu37482pk?modestbranding=1;rel=0;autohide=1;controls=1;" allowfullscreen="" title="video"></iframe>
            </div>
            <div class="table_blog__items"><a href="#"><img src="../img/blog_1.png" alt="blog_1"/>
                <div class="blog_text green">
                  <p>10 Important Things to<br/>Consider Before<br/>Renting an Apart</p>
                </div></a></div>
            <div class="table_blog__items"><a href="#"><img src="../img/blog_2.png" alt="blog_2"/>
                <div class="blog_text red">
                  <p>Can You Trust Moving<br/>Company Reviews On Yelp</p>
                </div></a></div>
          </li>
          <li class="table_blog__rows">
            <div class="table_blog__items"><a href="#"><img src="../img/blog_3.png" alt="blog_3"/>
                <div class="blog_text red">
                  <p>How to Move my Wine<br/>Collection?</p>
                </div></a></div>
            <div class="table_blog__items"><a href="#"><img src="../img/blog_4.png" alt="blog_4"/>
                <div class="blog_text yellow">
                  <p>How to Move into<br/>a High Rise Apartment</p>
                </div></a></div>
          </li>
          <li class="table_blog__rows">
            <div class="table_blog__items"><a href="#"><img src="../img/blog_5.png" alt="blog_5"/>
                <div class="blog_text purple">
                  <p>8 Tips for Moving While<br/>Pregnant</p>
                </div></a></div>
            <div class="table_blog__items">
              <div class="table_blog_btn">
                <p>Are you<br/>ready<br/>to move?</p><a href="#">Get a quote</a>
              </div>
            </div>
            <div class="table_blog__items"><a href="#"><img src="../img/blog_6.png" alt="blog_6"/>
                <div class="blog_text blue">
                  <p>7 effective tips to save<br/>a ton of money while moving</p>
                </div></a></div>
          </li>
        </ul>
        <div class="btn_see"><a href="#">See more</a></div>
        <div class="blog_next">
          <h2 class="blog_next__heading">10 Important Things to Consider Before Renting an Apartment</h2><img src="../img/Blog-info.jpg" alt="blog-img" class="blog_next__img"/>
          <div class="blog_next__text">
            <p>Making the decision to move to another state couldn’t have been an easy decision, but it will end up being the easiest part of your journey. The logistics moving forward will become evermore difficult as you design a plan to get you and all of your belongings across state lines.</p>
            <h5>1) Calculate Your Moving Budget</h5>
            <p>Your moving budget is the first thing you must consider. Tabulate the maximum amount you can spend on the move before you do anything else. Moving your items will be your biggest expense, but there are many other expenses that you cannot forget when calculating your budget and estimating expenses:</p>
            <ul>
              <li>Packing, unpacking, disassembly and reassembly</li>
              <li>Packing supplies, including boxes, tape, packing paper, and bubble wrap</li>
              <li>Car shipping expenses (if you aren’t driving to your new residence)</li>
              <li>Airfare or road trip expenses, which include gas and lodging</li>
            </ul>
            <h5>2) The Cost of Long-Distance DIY Move</h5>
            <p>Long distance, “do-it-yourself” moves are not practical and rarely end up being a cost-effective solution in the end. Renting a gas-guzzling moving truck and a car trailer is an imperfect design, considering all that goes along with it. The logistics are trouble.</p>
            <p>We tested the current market, and found the following rate for renting a 26-foot U-Haul truck, which accommodates a 3-bedroom residence, along with an auto transport trailer from Los Angeles to Dallas (1,200 miles).</p>
          </div>
        </div>
      </div>
      <ul id="tab1" class="table_blog">
        <li class="table_blog__rows">
          <div class="table_blog__items">
            <iframe src="https://www.youtube.com/embed/psqu37482pk?modestbranding=1;rel=0;autohide=1;controls=1;" allowfullscreen="" title="video"></iframe>
          </div>
          <div class="table_blog__items"><a href="#"><img src="../img/blog_1.png" alt="blog_1"/>
              <div class="blog_text green">
                <p>10 Important Things to<br/>Consider Before<br/>Renting an Apart</p>
              </div></a></div>
          <div class="table_blog__items"><a href="#"><img src="../img/blog_2.png" alt="blog_2"/>
              <div class="blog_text red">
                <p>Can You Trust Moving<br/>Company Reviews On Yelp</p>
              </div></a></div>
        </li>
        <li class="table_blog__rows">
          <div class="table_blog__items"><a href="#"><img src="../img/blog_3.png" alt="blog_3"/>
              <div class="blog_text red">
                <p>How to Move my Wine<br/>Collection?</p>
              </div></a></div>
          <div class="table_blog__items"><a href="#"><img src="../img/blog_4.png" alt="blog_4"/>
              <div class="blog_text yellow">
                <p>How to Move into<br/>a High Rise Apartment</p>
              </div></a></div>
        </li>
        <li class="table_blog__rows">
          <div class="table_blog__items"><a href="#"><img src="../img/blog_5.png" alt="blog_5"/>
              <div class="blog_text purple">
                <p>8 Tips for Moving While<br/>Pregnant</p>
              </div></a></div>
          <div class="table_blog__items">
            <div class="table_blog_btn">
              <p>Are you<br/>ready<br/>to move?</p><a href="#">Get a quote</a>
            </div>
          </div>
          <div class="table_blog__items"><a href="#"><img src="../img/blog_6.png" alt="blog_6"/>
              <div class="blog_text blue">
                <p>7 effective tips to save<br/>a ton of money while moving</p>
              </div></a></div>
        </li>
      </ul>
      <div id="tab2" class="blog_next">
        <h2 class="blog_next__heading">10 Important Things to Consider Before Renting an Apartment</h2><img src="../img/Blog-info.jpg" alt="blog-img" class="blog_next__img"/>
        <div class="blog_next__text">
          <p>Making the decision to move to another state couldn’t have been an easy decision, but it will end up being the easiest part of your journey. The logistics moving forward will become evermore difficult as you design a plan to get you and all of your belongings across state lines.</p>
          <h5>1) Calculate Your Moving Budget</h5>
          <p>Your moving budget is the first thing you must consider. Tabulate the maximum amount you can spend on the move before you do anything else. Moving your items will be your biggest expense, but there are many other expenses that you cannot forget when calculating your budget and estimating expenses:</p>
          <ul>
            <li>Packing, unpacking, disassembly and reassembly</li>
            <li>Packing supplies, including boxes, tape, packing paper, and bubble wrap</li>
            <li>Car shipping expenses (if you aren’t driving to your new residence)</li>
            <li>Airfare or road trip expenses, which include gas and lodging</li>
          </ul>
          <h5>2) The Cost of Long-Distance DIY Move</h5>
          <p>Long distance, “do-it-yourself” moves are not practical and rarely end up being a cost-effective solution in the end. Renting a gas-guzzling moving truck and a car trailer is an imperfect design, considering all that goes along with it. The logistics are trouble.</p>
          <p>We tested the current market, and found the following rate for renting a 26-foot U-Haul truck, which accommodates a 3-bedroom residence, along with an auto transport trailer from Los Angeles to Dallas (1,200 miles).</p>
        </div>
      </div>
    </div>
    <div class="btn_see"><a href="#">See more</a></div>
  </div>
</div>