
<div class="contacts">
  <div class="container">
    <div class="contact">
      <h2 class="heading">Contact</h2>
      <ul class="texting">
        <li class="first"><a href="#">Los Angeles, CA</a></li>
        <li class="second"><a href="#" class="yellow_text">Portland, OR</a></li>
        <li><a href="#" class="yellow_text">Seattle, WA</a></li>
      </ul>
      <h2 class="map_heading">Los Angeles, CA</h2>
      <div class="map_button"><span class="map_show">Map</span></div>
      <div class="map_wrapper">
        <div id="map"></div>
      </div>
      <div class="map_legend">
        <div class="rating">
          <div class="top">
            <div class="numbers">
              <p>Avarage Rating</p><span>4.8/5.0</span>
            </div>
            <div class="logo"><img src="../img/yelp.png" data-rjs="../img/2x/yelp@2x.png" alt="yelp logo"/></div>
          </div>
          <div class="bottom">
            <div class="main-description__list-star">
              <ul class="list-star">
                <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
              </ul>
            </div>
            <div class="description">
              <p>Based upon 8,459 customer surveys</p><span>(12 months ending 4/30/16)</span>
            </div>
          </div>
        </div>
        <div class="address">
          <p class="bold">Royal Moving Co.</p>
          <p class="bold">Company License:<span>MTR0191476</span></p>
          <p class="bold">Adress:<span>4102 Melrose Ave, Los Angeles, CA 90029</span></p>
          <p class="bold">Second adress:<span>11664 National Blvd, Los Angeles, CA 90064</span></p>
          <p class="bold">Phone:<span>(888)634 9582</span></p>
          <p class="bold">Email:<a href="#" class="email">royalmovingco@gmail.com</a></p>
        </div>
      </div>
    </div>
    <div class="touch">
      <h2 class="heading">Keep in touch</h2>
      <p class="text">If you have any questions, please feel free to contact us:</p>
      <form name="question_form">
        <input type="text" placeholder="Name"/>
        <input type="text" placeholder="Email"/>
        <input type="text" placeholder="Subject"/>
        <textarea placeholder="Message"></textarea>
        <div class="form_bottom">
          <div data-sitekey="6Lel2DYUAAAAAMcHllAvPxpgG2iAakcvoeIXaztD" class="g-recaptcha"></div>
          <div class="button"><a href="#">send message</a></div>
          <div class="button_sm"><a href="#">send</a></div>
        </div>
      </form>
    </div>
    <div class="searving">
      <h2 class="heading">Searving Los Angeles</h2>
      <p class="info">Three best friends who worked together in the moving business for over six years had a dream. They wanted to start a company of their own, so they established Royal Moving in 2012. Why start a Los Angeles moving company? They had a passion for helping people, and with their six years of experience they knew the business and were good at it. Royal Moving has built a team of movers with the same motivation, standards and dedication to customer service as the three founders<a href="#" class="more">Read more</a></p>
    </div>
  </div>
</div>