
<div class="main-faq">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="main-faq__heading">FAQ</h2>
        <div class="main-faq__subinfo">
          <div class="subinfo">
            <p class="subinfo__item subinfo-description">Why do I have to pay for 3 hours if my entire move takes less time?</p>
            <p class="subinfo__item item-bolder hide-content">Do I have to pay in advance?</p>
            <p class="subinfo__item item-solid hide-content">When does the work time start?</p>
            <p class="subinfo__item hide-content">How long will my move take?</p>
            <p class="subinfo__item hide-content">BROKEN OR DAMAGED IteMS</p>
            <p class="subinfo__item hide-content">How can I make my move faster and save money as well?</p>
            <p class="subinfo__item hide-content">What is DDT</p>
            <p class="subinfo__item hide-content">Do I need to tip the movers?</p>
            <p class="subinfo__item item-solid hide-content">What do you need to schedule my move?</p>
            <p class="subinfo__mobile-text show-content">Royal moving prides itself on beign one of the top moving providers in the Los Angeles area. Our affordable prices makes it easy for us provide all of our clients with all of their moving needs, from small item moves to larger move. We make it stress and hassle free moving experience. Read more.</p>
            <p class="subinfo__mobile-yellow show-content">Do i Have to pay in advance?</p>
            <p class="subinfo__mobile-yellow show-content">When does the work time start?</p>
            <p class="subinfo__mobile-yellow show-content">How long will my move take?</p>
            <div class="show-content">
              <div class="btn-more"><a href="#">See more</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-faq__serving">
  <div class="serving">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
          <h2 class="serving__heading">Serving Los Angeles and Surrounding Area</h2>
          <p class="serving__subinfo">Three best friends who worked together in the moving business for over six years had a dream. They wanted to start a company of their own, so they established Royal Moving in 2012. Why start a Los Angeles moving company? They had a passion for helping people, and with their six years of experience they knew the business and were good at it. Royal Moving has built a team of movers with the same motivation, standards and dedication to customer service as the three founders.<a href="#">Read more</a></p>
        </div>
        <div class="col-xs-12">
          <p class="serving__proudly">Proudly serving:</p>
          <ul class="serving__proudly-info">
            <li>Anaheim</li>
            <li>Bel Air</li>
            <li>Beverly Hills</li>
            <li>Brentwood</li>
            <li>Burbank</li>
            <li>Calabasas</li>
            <li>Canoga Park</li>
            <li>Carson</li>
            <li>Costa Mesa</li>
            <li>Culver City</li>
            <li>El Segundo</li>
            <li>Fullerton Glendale</li>
            <li>Hancock Park</li>
            <li>Hawthorne</li>
            <li>Hermosa Beach</li>
            <li>Hidden Hills</li>
            <li>Hollywood</li>
            <li>Holmby Hills</li>
            <li>Huntington Beach</li>
            <li>Irvine</li>
            <li>La Canada</li>
            <li>Laguna Beach</li>
            <li> Lakewood</li>
            <li>Larchmont</li>
            <li>Long Beach</li>
            <li>Los Angeles</li>
            <li>Los Feliz</li>
            <li>Malibu</li>
            <li>Manhattan Beach</li>
            <li>Marina del Rey</li>
            <li>Newport Beach</li>
            <li>Northridge</li>
            <li>Orange County</li>
            <li>Pacific Palisades</li>
            <li>Paramount</li>
            <li>Pasadena</li>
            <li>Rancho Palos Verdes</li>
            <li>Redondo Beach</li>
            <li>San Pedro</li>
            <li>Santa Fe Springs</li>
            <li>Santa Monica</li>
            <li>Sherman Oaks</li>
            <li>Studio City</li>
            <li>Thousand Oaks</li>
            <li>Torrance</li>
            <li>Venice</li>
            <li>West Covina</li>
            <li> Westwood</li>
          </ul>
          <div class="serving__btn-quote"><a href="#" class="btn-active">Get A Quote</a></div>
        </div>
      </div>
    </div>
  </div>
</div>