
<div class="main-description">
  <h2 class="main-description__heading-quote hide-content">Are you ready to move?</h2>
  <div class="main-description__list-phone show-content">
    <ul class="list-phone listed-right">
      <li class="list-phone__item">Redondo</li>
      <li class="list-phone__item phone-list">Hermosa</li>
      <li class="list-phone__item phone-list">4+ BDR</li>
    </ul>
  </div>
  <h2 class="main-description__heading show-content">When are your moving?</h2>
  <div class="main-description__calendar">
    <div class="calendar show-content"></div>
  </div>
  <div class="main-description__list-info">
    <ul class="list-info">
      <li class="list-info__item">Renondo Beach</li>
      <li class="list-info__item">Beverly Hills</li>
      <li class="list-info__item">2 bd</li>
      <li class="list-info__item">Nov 16</li>
    </ul>
  </div>
  <div class="main-description__inputs-envelope hide-content">
    <form action="#" method="post" class="inputs-envelope hide-content">
      <label class="inputs-envelope__label">
        <input type="email" name="email" placeholder="EMAIL" required="required" class="inputs-envelope__item--get"/>
      </label>
      <label class="inputs-envelope__label">
        <input type="tel" name="phone" placeholder="PHONE" required="required" class="inputs-envelope__item--get mask-phone"/>
      </label>
      <label class="inputs-envelope__label">
        <input type="text" name="size" placeholder="SIZE" required="required" class="inputs-envelope__item--get"/>
      </label>
    </form>
  </div>
  <div class="main-description__btn-getQuote"><a href="#" class="hide-content">get a quote</a></div>
  <div class="main-description__sub-info hide-content">
    <div class="sub-info">
      <div class="sub-info__top">
        <div class="sub-info__left"><span class="left-heading">Averange rating</span><span class="left-subheading">4.8/5.0</span></div>
        <div class="sub-info__right"><img src="../img/yelp.png" alt="yelp" class="img-right"/></div>
      </div>
    </div>
  </div>
  <div class="main-description__list-star hide-content">
    <ul class="list-star">
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
    </ul>
  </div>
  <div class="main-description__bottom hide-content">
    <p class="bottom-info">Based upon 8,459 customer surveys</p>
    <p class="bottom-info">(12 months ending 4/30/16)</p>
  </div>
</div>