
<div class="main-description">
  <h2 class="main-description__heading">Are you ready to move?</h2>
  <div class="main-description__inputs-envelope">
    <form action="#" method="post" class="inputs-envelope hide-content">
      <label class="inputs-envelope__label i-marker">
        <input type="text" name="from" placeholder="FROM" class="inputs-envelope__item"/><span class="zip">ZIP</span>
      </label>
      <label class="inputs-envelope__label i-marker">
        <input type="text" name="to" placeholder="TO" class="inputs-envelope__item"/><span class="zip">ZIP</span>
      </label>
      <label class="inputs-envelope__label i-sofa">
        <select class="selected inputs-envelope__item">
          <option value="" disabled="disabled" selected="selected">SIZE</option>
          <option>1 BRD</option>
          <option>2 BRD</option>
          <option>3 BRD</option>
          <option>4 BRD</option>
        </select>
      </label>
      <label class="inputs-envelope__label i-calendar">
        <input type="text" name="date" placeholder="DATE" class="inputs-envelope__item input-date"/>
      </label>
    </form>
    <form action="#" method="post" class="inputs-envelope show-content pad-xs">
      <label class="inputs-envelope__label">
        <input type="text" name="zip" class="inputs-envelope__item"/><span class="zip">zip</span>
      </label>
    </form>
  </div>
  <div class="main-description__btn-next"><a href="#">next</a></div>
  <div class="main-description__sub-info">
    <div class="sub-info">
      <div class="sub-info__top">
        <div class="sub-info__left"><span class="left-heading">Averange rating</span><span class="left-subheading">4.8/5.0</span></div>
        <div class="sub-info__right"><img src="../img/yelp.png" alt="yelp" class="img-right"/></div>
      </div>
    </div>
  </div>
  <div class="main-description__list-star">
    <ul class="list-star">
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
      <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
    </ul>
  </div>
  <div class="main-description__bottom">
    <p class="bottom-info">Based upon 8,459 customer surveys</p>
    <p class="bottom-info">(12 months ending 4/30/16)</p>
  </div>
  <div class="main-description__send-env">
    <div class="send-env">
      <div class="send-env__top"><a href="#" class="top-send">SEND US A MESSAGE</a></div>
      <form class="send-env__form">
        <textarea placeholder="MESSAGE" class="send-env__textarea"></textarea>
        <input type="text" name="name" placeholder="NAME" required="required" class="send-env__input"/>
        <input type="tel" name="phone" placeholder="PHONE" required="required" class="send-env__input mask-phone"/>
        <input type="email" name="email" placeholder="EMAIL" required="required" class="send-env__input"/>
        <div class="send-env__btn-send"><a href="#" class="btn-active">send</a></div>
      </form>
    </div>
  </div>
</div>