
<div class="main-choose">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="main-choose__heading">Why choose Royal Moving?</h2>
      </div>
      <div class="col-xs-12">
        <div class="main-choose__list">
          <ul class="list-choose">
            <li class="list-choose__item list-check">No Hidden Fees & Free Packing Materials</li>
          </ul>
          <ul class="list-choose">
            <li class="list-choose__item">We Remove All Trash After Move</li>
            <li class="list-choose__item">Highly Successfull Family-owned Business</li>
          </ul>
          <ul class="list-choose">
            <li class="list-choose__item">Fully Licensed, Bonded & Insured Company</li>
          </ul>
          <ul class="list-choose">
            <li class="list-choose__item text-bold">Provide packing plastic boxes</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="main-choose__video">
          <iframe src="https://www.youtube.com/embed/Xw5AiRVqfqk" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>