
<!-- Main Modal-->
<div class="main-modal"><a href="#" data-remodal-action="close" class="main-modal__close"><span></span><span></span></a>
  <div class="main-modal__top"><img src="../img/special-offer.png" alt="special-offer" class="main-modal__img"/></div>
  <div class="main-modal__envelope">
    <h2 class="main-modal__heading">	Want to get 10 valuable tips on</h2>
    <p class="main-modal__subheading">HOW YOU CAN SAVE YOUR MONEY?</p>
    <p class="main-modal__subinfo">Provide us with your e-mail and we will send you a video with professional opinion how you can save your money on moving in general.</p>
    <form class="main-modal__form">
      <input type="email" name="email" placeholder="EMAIL" class="form__input"/><a href="#" class="form__btn-save btn-active">Save Money</a>
    </form>
    <p class="main-modal__sub">We guarantee 100% privacy. Your information will not be shared.</p>
  </div>
</div>