
<div class="main-slide-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="main-listPreviews">
          <li class="main-listPreviews__item">
            <div class="main-description">
              <h2 class="main-description__heading">Are you ready to move?</h2>
              <div class="main-description__inputs-envelope">
                <form action="#" method="post" class="inputs-envelope hide-content">
                  <label class="inputs-envelope__label i-marker">
                    <input type="text" name="from" placeholder="FROM" class="inputs-envelope__item"/><span class="zip">ZIP</span>
                  </label>
                  <label class="inputs-envelope__label i-marker">
                    <input type="text" name="to" placeholder="TO" class="inputs-envelope__item"/><span class="zip">ZIP</span>
                  </label>
                  <label class="inputs-envelope__label i-sofa">
                    <select class="selected inputs-envelope__item">
                      <option value="" disabled="disabled" selected="selected">SIZE</option>
                      <option>1 BRD</option>
                      <option>2 BRD</option>
                      <option>3 BRD</option>
                      <option>4 BRD</option>
                    </select>
                  </label>
                  <label class="inputs-envelope__label i-calendar">
                    <input type="text" name="date" placeholder="DATE" class="inputs-envelope__item input-date"/>
                  </label>
                </form>
                <form action="#" method="post" class="inputs-envelope show-content pad-xs">
                  <label class="inputs-envelope__label">
                    <input type="text" name="zip" class="inputs-envelope__item"/><span class="zip">zip</span>
                  </label>
                </form>
              </div>
              <div class="main-description__btn-next"><a href="#">next</a></div>
              <div class="main-description__sub-info">
                <div class="sub-info">
                  <div class="sub-info__top">
                    <div class="sub-info__left"><span class="left-heading">Averange rating</span><span class="left-subheading">4.8/5.0</span></div>
                    <div class="sub-info__right"><img src="../img/yelp.png" alt="yelp" class="img-right"/></div>
                  </div>
                </div>
              </div>
              <div class="main-description__list-star">
                <ul class="list-star">
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                </ul>
              </div>
              <div class="main-description__bottom">
                <p class="bottom-info">Based upon 8,459 customer surveys</p>
                <p class="bottom-info">(12 months ending 4/30/16)</p>
              </div>
              <div class="main-description__send-env">
                <div class="send-env">
                  <div class="send-env__top"><a href="#" class="top-send">SEND US A MESSAGE</a></div>
                  <form class="send-env__form">
                    <textarea placeholder="MESSAGE" class="send-env__textarea"></textarea>
                    <input type="text" name="name" placeholder="NAME" required="required" class="send-env__input"/>
                    <input type="tel" name="phone" placeholder="PHONE" required="required" class="send-env__input mask-phone"/>
                    <input type="email" name="email" placeholder="EMAIL" required="required" class="send-env__input"/>
                    <div class="send-env__btn-send"><a href="#" class="btn-active">send</a></div>
                  </form>
                </div>
              </div>
            </div>
          </li>
          <li class="main-listPreviews__item">
            <div class="main-description">
              <h2 class="main-description__heading hide-content">Are you ready to move?</h2>
              <div class="main-description__list-phone show-content">
                <ul class="list-phone">
                  <li class="list-phone__item">Redondo</li>
                  <li class="list-phone__item">Hermosa</li>
                </ul>
              </div>
              <h2 class="main-description__heading show-content">What is BDR size of your moving?</h2>
              <div class="main-description__inputs-envelope hide-content">
                <form action="#" method="post" class="inputs-envelope">
                  <label class="inputs-envelope__label i-marker">
                    <input type="text" name="from" placeholder="FROM" class="inputs-envelope__item"/><span class="zip">90277</span>
                  </label>
                  <label class="inputs-envelope__label i-marker">
                    <input type="text" name="to" placeholder="TO" class="inputs-envelope__item"/><span class="zip">90210</span>
                  </label>
                  <label class="inputs-envelope__label i-sofa">
                    <select class="selected inputs-envelope__item">
                      <option value="" disabled="disabled" selected="selected">SIZE</option>
                      <option>1 BRD</option>
                      <option>2 BRD</option>
                      <option>3 BRD</option>
                      <option>4 BRD</option>
                    </select>
                  </label>
                  <label class="inputs-envelope__label i-calendar">
                    <input type="text" name="date" placeholder="DATE" class="inputs-envelope__item input-date"/>
                  </label>
                </form>
                <form action="#" method="post" class="inputs-envelope show-content">
                  <label class="inputs-envelope__label">
                    <input type="text" class="inputs-envelope__item"/><span class="zip">zip</span>
                  </label>
                </form>
              </div>
              <div class="main-description__btn-next hide-content"><a href="#" class="btn-active">next</a></div>
              <div class="main-description__sub-info hide-content">
                <div class="sub-info">
                  <div class="sub-info__top">
                    <div class="sub-info__left"><span class="left-heading">Averange rating</span><span class="left-subheading">4.8/5.0</span></div>
                    <div class="sub-info__right"><img src="../img/yelp.png" alt="yelp" class="img-right"/></div>
                  </div>
                </div>
              </div>
              <div class="main-description__list-star hide-content">
                <ul class="list-star">
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                </ul>
              </div>
              <div class="main-description__bottom hide-content">
                <p class="bottom-info">Based upon 8,459 customer surveys</p>
                <p class="bottom-info">(12 months ending 4/30/16)</p>
              </div>
              <div class="main-description__send-env">
                <div class="send-env">
                  <div class="send-env__top"><a href="#" class="top-send">SEND US A MESSAGE</a></div>
                  <form class="send-env__form">
                    <textarea placeholder="MESSAGE" class="send-env__textarea"></textarea>
                    <input type="text" name="name" placeholder="NAME" required="required" class="send-env__input"/>
                    <input type="tel" name="phone" placeholder="PHONE" required="required" class="send-env__input mask-phone"/>
                    <input type="email" name="email" placeholder="EMAIL" required="required" class="send-env__input"/>
                    <div class="send-env__btn-send"><a href="#" class="btn-active">send</a></div>
                  </form>
                </div>
              </div>
              <!-- Mobile Content-->
              <div class="main-description__counts show-content">
                <div class="counts"><span class="counts__info">Studio</span>
                  <ul class="counts__list">
                    <li class="counts__item"><a href="#">1</a></li>
                    <li class="counts__item"><a href="#">2</a></li>
                    <li class="counts__item"><a href="#">3</a></li>
                    <li class="counts__item"><a href="#">4+</a></li>
                  </ul><span class="counts__info">Office</span>
                </div>
              </div>
            </div>
          </li>
          <li class="main-listPreviews__item">
            <div class="main-description">
              <h2 class="main-description__heading-quote hide-content">Are you ready to move?</h2>
              <div class="main-description__list-phone show-content">
                <ul class="list-phone listed-right">
                  <li class="list-phone__item">Redondo</li>
                  <li class="list-phone__item phone-list">Hermosa</li>
                  <li class="list-phone__item phone-list">4+ BDR</li>
                </ul>
              </div>
              <h2 class="main-description__heading show-content">When are your moving?</h2>
              <div class="main-description__calendar">
                <div class="calendar show-content"></div>
              </div>
              <div class="main-description__list-info">
                <ul class="list-info">
                  <li class="list-info__item">Renondo Beach</li>
                  <li class="list-info__item">Beverly Hills</li>
                  <li class="list-info__item">2 bd</li>
                  <li class="list-info__item">Nov 16</li>
                </ul>
              </div>
              <div class="main-description__inputs-envelope hide-content">
                <form action="#" method="post" class="inputs-envelope hide-content">
                  <label class="inputs-envelope__label">
                    <input type="email" name="email" placeholder="EMAIL" required="required" class="inputs-envelope__item--get"/>
                  </label>
                  <label class="inputs-envelope__label">
                    <input type="tel" name="phone" placeholder="PHONE" required="required" class="inputs-envelope__item--get mask-phone"/>
                  </label>
                  <label class="inputs-envelope__label">
                    <input type="text" name="size" placeholder="SIZE" required="required" class="inputs-envelope__item--get"/>
                  </label>
                </form>
              </div>
              <div class="main-description__btn-getQuote"><a href="#" class="hide-content">get a quote</a></div>
              <div class="main-description__sub-info hide-content">
                <div class="sub-info">
                  <div class="sub-info__top">
                    <div class="sub-info__left"><span class="left-heading">Averange rating</span><span class="left-subheading">4.8/5.0</span></div>
                    <div class="sub-info__right"><img src="../img/yelp.png" alt="yelp" class="img-right"/></div>
                  </div>
                </div>
              </div>
              <div class="main-description__list-star hide-content">
                <ul class="list-star">
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                </ul>
              </div>
              <div class="main-description__bottom hide-content">
                <p class="bottom-info">Based upon 8,459 customer surveys</p>
                <p class="bottom-info">(12 months ending 4/30/16)</p>
              </div>
            </div>
          </li>
          <li class="main-listPreviews__item">
            <div class="main-description">
              <h2 class="main-description__heading-quote hide-content">Are you ready to move?</h2>
              <div class="main-description__list-phone show-content">
                <ul class="list-phone listed-right">
                  <li class="list-phone__item">Redondo</li>
                  <li class="list-phone__item phone-list">Hermosa</li>
                  <li class="list-phone__item phone-list">4+ BDR</li>
                  <li class="list-phone__item phone-list">OCT 15</li>
                </ul>
              </div>
              <h2 class="main-description__heading show-content">Your contact information</h2>
              <div class="main-description__list-info">
                <ul class="list-info hide-content">
                  <li class="list-info__item">Renondo Beach</li>
                  <li class="list-info__item">Beverly Hills</li>
                  <li class="list-info__item">2 bd</li>
                  <li class="list-info__item">Nov 16</li>
                </ul>
              </div>
              <div class="main-description__inputs-envelope pad-xs">
                <form action="#" method="post" class="inputs-envelope">
                  <label class="inputs-envelope__label">
                    <input type="email" name="email" placeholder="EMAIL" class="inputs-envelope__item--get"/>
                  </label>
                  <label class="inputs-envelope__label">
                    <input type="tel" name="phone" placeholder="PHONE" class="inputs-envelope__item--get mask-phone"/>
                  </label>
                  <label class="inputs-envelope__label">
                    <input type="text" name="size" placeholder="SIZE" class="inputs-envelope__item--get"/>
                  </label>
                </form>
              </div>
              <div class="pad-xs">
                <div class="main-description__btn-getQuote"><a href="#" class="btn-active">get a quote</a></div>
              </div>
              <div class="main-description__sub-info hide-content">
                <div class="sub-info">
                  <div class="sub-info__top">
                    <div class="sub-info__left"><span class="left-heading">Averange rating</span><span class="left-subheading">4.8/5.0</span></div>
                    <div class="sub-info__right"><img src="../img/yelp.png" alt="yelp" class="img-right"/></div>
                  </div>
                </div>
              </div>
              <div class="main-description__list-star hide-content">
                <ul class="list-star">
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                  <li class="list-star__item"><i class="fa fa-star list-star__img"></i></li>
                </ul>
              </div>
              <div class="main-description__bottom hide-content">
                <p class="bottom-info">Based upon 8,459 customer surveys</p>
                <p class="bottom-info">(12 months ending 4/30/16)</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>