
<div class="main-work">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="main-work__heading">How it works?</h2>
      </div>
    </div>
    <div class="row">
      <div class="main-work__column">
        <div class="main-work__env">
          <div class="env-info"><span class="env-info__heading">step 1</span>
            <div class="env-info__img"><img src="../img/icon-clock.png" alt="clock"/></div>
            <p class="env-info__subtext">Our Movers will give you a call 30 minutes before arrival</p>
          </div>
        </div>
      </div>
      <div class="main-work__column">
        <div class="main-work__env">
          <div class="env-info"><span class="env-info__heading">step 2</span>
            <div class="env-info__img"><img src="../img/icon-pens.png" alt="pen" class="scale-pen"/></div>
            <p class="env-info__subtext">Sign the contract (only now your time is beginning – we do charge hourly)</p>
          </div>
        </div>
      </div>
      <div class="main-work__column">
        <div class="main-work__env">
          <div class="env-info"><span class="env-info__heading">step 3</span>
            <div class="env-info__img"><img src="../img/icon-car.png" alt="car" class="scale-car"/></div>
            <p class="env-info__subtext">Drive to the new place</p>
          </div>
        </div>
      </div>
      <div class="main-work__column">
        <div class="main-work__env">
          <div class="env-info"><span class="env-info__heading">step 4</span>
            <div class="env-info__img"><img src="../img/icon-box.png" alt="box" class="scale-box"/></div>
            <p class="env-info__subtext last-box">Unloading the truck. We will put everything where you need it to be. And also take out the trash after the move</p>
          </div>
        </div>
      </div>
      <p class="main-work__sub">and just after then you pay bill</p>
      <div class="main-work__btn-quote"><a href="#" class="btn-active">GET A QUOTE</a></div>
    </div>
  </div>
</div>