
<div class="main-slider">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="main-slider__heading">What the royal moving customers say?</h2>
        <p class="main-slider__subheading">To provide proper credit, use the embedded credit already in the icon you downloaded, or you can copy</p>
      </div>
      <div class="col-xs-12">
        <div class="main-slider__position">
          <div class="main-slider__envelope-list">
            <div class="main-slider__item"><span data-review-id="HxHpyT5UpVVDdVU4DarBiQ" data-hostname="www.yelp.com" class="yelp-review"></span><a href="https://www.yelp.com/user_details?userid=OSxWBnHbxb2osMSZoR8i5A" rel="nofollow noopener"></a><a href="https://www.yelp.com/biz/soap-box-cleaners-san-francisco?hrid=HxHpyT5UpVVDdVU4DarBiQ" rel="nofollow noopener"></a><a href="https://www.yelp.com/biz/dAMhUGqCDgZ8EiTihuWJIw" rel="nofollow noopener"></a><a href="https://www.yelp.com" rel="nofollow noopener"></a>
              <script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script>
            </div>
            <div class="main-slider__item"><span data-review-id="HxHpyT5UpVVDdVU4DarBiQ" data-hostname="www.yelp.com" class="yelp-review"></span><a href="https://www.yelp.com/user_details?userid=OSxWBnHbxb2osMSZoR8i5A" rel="nofollow noopener"></a><a href="https://www.yelp.com/biz/soap-box-cleaners-san-francisco?hrid=HxHpyT5UpVVDdVU4DarBiQ" rel="nofollow noopener"></a><a href="https://www.yelp.com/biz/dAMhUGqCDgZ8EiTihuWJIw" rel="nofollow noopener"></a><a href="https://www.yelp.com" rel="nofollow noopener"></a></div>
            <div class="main-slider__item"><span data-review-id="HxHpyT5UpVVDdVU4DarBiQ" data-hostname="www.yelp.com" class="yelp-review"></span><a href="https://www.yelp.com/user_details?userid=OSxWBnHbxb2osMSZoR8i5A" rel="nofollow noopener"></a><a href="https://www.yelp.com/biz/soap-box-cleaners-san-francisco?hrid=HxHpyT5UpVVDdVU4DarBiQ" rel="nofollow noopener"></a><a href="https://www.yelp.com/biz/dAMhUGqCDgZ8EiTihuWJIw" rel="nofollow noopener"></a><a href="https://www.yelp.com" rel="nofollow noopener"></a></div>
          </div><a href="#" class="btn-slideNext"><i class="fa fa-chevron-right"></i></a><a href="#" class="btn-slidePrev"><i class="fa fa-chevron-left"></i></a>
        </div>
      </div>
      <div class="main-description__btn-getQuote"><a href="#" class="btn-active">get a quote</a></div>
    </div>
  </div>
</div>