
<div class="main-description">
  <div class="main-description__list-phone">
    <ul class="list-phone">
      <li class="list-phone__item">Redondo</li>
      <li class="list-phone__item">Hermosa</li>
    </ul>
  </div>
  <h2 class="main-description__heading">What is BDR size of your moving?</h2>
  <div class="main-description__counts">
    <div class="counts"><span class="counts__info">Studio</span>
      <ul class="counts__list">
        <li class="counts__item"><a href="#">1</a></li>
        <li class="counts__item"><a href="#">2</a></li>
        <li class="counts__item"><a href="#">3</a></li>
        <li class="counts__item"><a href="#" class="counts-active">4+</a></li>
      </ul><span class="counts__info">Office</span>
    </div>
  </div>
</div>