
<div class="plastic">
  <div class="container">
    <div class="plastic_boxes">
      <div class="boxes">
        <h2 class="heading">Plastic Boxes</h2>
        <p class="text">Think outside cardboard box and Rent HEAVY DUTY PLASTIC BOXES TODAY!</p>
      </div>
      <div class="wrapper">
        <div class="lettering">
          <div class="lettering_img"><img src="../img/boxes_col.png" data-rjs="../img/2x/boxes_col@2x.png" alt="boxes"/></div>
          <div class="lettering_text">
            <div class="caption">
              <p>Using your plastic</p>
              <p>boxes you save:</p>
            </div>
            <div class="boxes_chart">
              <ul>
                <li>Belongins</li>
                <li>Time</li>
                <li>Money</li>
                <li>Environment</li>
              </ul>
            </div>
            <div class="boxes_button"><a href="#">Order now</a></div>
          </div>
        </div>
        <div class="boxes_button_copy"><a href="#">Order now</a></div>
        <div class="img"><img src="../img/bg_smart.jpg" alt="img"/></div>
      </div>
    </div>
    <div class="work">
      <h2 class="heading margin">How does it work?</h2>
      <p class="work_text">some copy here</p>
      <div class="steps">
        <div class="step arrowed">
          <p class="step_caption">Step 1</p>
          <div class="img_wrap"><img src="../img/services4.png" data-rjs="../img/2x/services4@2x.png" alt="step 1" class="step_img margined"/></div>
          <p class="step_text">We Deliver'em</p>
        </div>
        <div class="step arrowed">
          <p class="step_caption">Step 2</p>
          <div class="img_wrap"><img src="../img/in_box.png" data-rjs="../img/2x/services4@2x.png" alt="step 2" class="step_img"/></div>
          <p class="step_text">Your Pack</p>
        </div>
        <div class="step arrowed">
          <p class="step_caption">Step 3</p>
          <div class="img_wrap"><img src="../img/icon-car.png" data-rjs="../img/2x/icon-caar@2x.png" alt="step 3" class="step_img"/></div>
          <p class="step_text">We move</p>
        </div>
        <div class="step">
          <p class="step_caption">Step 4</p>
          <div class="img_wrap"><img src="../img/services4.png" data-rjs="../img/2x/services4@2x.png" alt="step 4" class="step_img rotated margined"/></div>
          <p class="step_text">We Pick'em Up</p>
        </div>
      </div>
    </div>
    <div class="prices">
      <h2 class="heading middle">We Provide Everyday  Low Prices</h2>
      <p class="text bolder">Delivery and 1 week rental are included</p>
      <div class="prices_variants">
        <div class="price_variant">
          <div class="variant_caption">
            <p>Small</p>
          </div>
          <div class="variant_body">
            <div class="body_caption space">
              <p>30</p><span class="box">boxes</span>
            </div>
            <div class="body_info">
              <p>Good for</p><span>Studio / 1BDR</span>
            </div>
            <div class="body_price">
              <p class="dollar">129</p>
            </div>
            <div class="body_button"><a href="#">Order now</a></div>
          </div>
        </div>
        <div class="price_variant">
          <div class="variant_caption">
            <p>Medium</p>
          </div>
          <div class="variant_body best">
            <div class="body_caption">
              <p>50</p><span class="box">boxes</span>
            </div>
            <div class="body_plus">
              <p>+ Kitchen Paper</p>
            </div>
            <div class="body_info">
              <p>Good for</p><span>Studio / 1BDR</span>
            </div>
            <div class="body_price">
              <p class="dollar">219</p>
            </div>
            <div class="body_button"><a href="#">Order now</a></div>
          </div>
        </div>
        <div class="price_variant">
          <div class="variant_caption">
            <p>Large</p>
          </div>
          <div class="variant_body">
            <div class="body_caption">
              <p>70</p><span class="box">boxes</span>
            </div>
            <div class="body_plus">
              <p>+ Kitchen Paper</p><span>+ Bubble Wrap</span>
            </div>
            <div class="body_info">
              <p>Good for</p><span>Studio / 1BDR</span>
            </div>
            <div class="body_price">
              <p class="dollar">309</p>
            </div>
            <div class="body_button"><a href="#">Order now</a></div>
          </div>
        </div>
        <div class="price_variant">
          <div class="variant_caption">
            <p>Office</p>
          </div>
          <div class="variant_body">
            <div class="body_caption">
              <p>100+</p><span class="box">boxes</span>
            </div>
            <div class="body_plus">
              <p>+ Kitchen Paper</p><span>+ Bubble Wrap</span>
            </div>
            <div class="body_info">
              <p>Good for</p><span>Studio / 1BDR</span>
            </div>
            <div class="body_price">
              <p class="vary">Price Vary</p>
            </div>
            <div class="body_button"><a href="#">Order now</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="price_slider">
      <div class="price_variant">
        <div class="variant_caption">
          <p>Small</p>
        </div>
        <div class="variant_body">
          <div class="body_caption space">
            <p>30</p><span class="box">boxes</span>
          </div>
          <div class="body_info">
            <p>Good for</p><span>Studio / 1BDR</span>
          </div>
          <div class="body_price">
            <p class="dollar">129</p>
          </div>
          <div class="body_button"><a href="#">Order now</a></div>
        </div>
      </div>
      <div class="price_variant">
        <div class="variant_caption">
          <p>Medium</p>
        </div>
        <div class="variant_body best">
          <div class="body_caption">
            <p>50</p><span class="box">boxes</span>
          </div>
          <div class="body_plus">
            <p>+ Kitchen Paper</p>
          </div>
          <div class="body_info">
            <p>Good for</p><span>Studio / 1BDR</span>
          </div>
          <div class="body_price">
            <p class="dollar">219</p>
          </div>
          <div class="body_button"><a href="#">Order now</a></div>
        </div>
      </div>
      <div class="price_variant">
        <div class="variant_caption">
          <p>Large</p>
        </div>
        <div class="variant_body">
          <div class="body_caption">
            <p>70</p><span class="box">boxes</span>
          </div>
          <div class="body_plus">
            <p>+ Kitchen Paper</p><span>+ Bubble Wrap</span>
          </div>
          <div class="body_info">
            <p>Good for</p><span>Studio / 1BDR</span>
          </div>
          <div class="body_price">
            <p class="dollar">309</p>
          </div>
          <div class="body_button"><a href="#">Order now</a></div>
        </div>
      </div>
      <div class="price_variant">
        <div class="variant_caption">
          <p>Office</p>
        </div>
        <div class="variant_body">
          <div class="body_caption">
            <p>100+</p><span class="box">boxes</span>
          </div>
          <div class="body_plus">
            <p>+ Kitchen Paper</p><span>+ Bubble Wrap</span>
          </div>
          <div class="body_info">
            <p>Good for</p><span>Studio / 1BDR</span>
          </div>
          <div class="body_price">
            <p class="vary">Price Vary</p>
          </div>
          <div class="body_button"><a href="#">Order now</a></div>
        </div>
      </div>
    </div>
    <div class="plastic_seo">
      <h2 class="heading">Seo text</h2>
      <p class="texting">Don't spend money on cardboard boxes just to throw them away after you are unpacked. Would you like help simplifying your life and saving cash at the same time? Wouldn't it be great if a Royal moving company would deliver plastic moving boxes right to your door that were ready to pack, didn't need tape, were 50 times stronger than cardboard? And then this company move you to new place and charged you just for moving hours not for plastic boxes and moving supplies.</p>
    </div>
    <div class="order_plastic">
      <h2 class="heading hidden">Order plastic boxes</h2>
      <p class="text hidden">Delivery and 1 week rental are included</p>
      <div class="description__list-info">
        <ul class="list-info">
          <li class="list-info__item">Renondo</li>
          <li class="list-info__item">Hermosa</li>
          <li class="list-info__item">30 BOXES</li>
          <li class="list-info__item">OCT 15</li>
        </ul>
      </div>
      <h2 class="heading middle mobile">Your contact information</h2>
      <div class="order_form">
        <div class="first_line">
          <div class="main-description__inputs-envelope">
            <form action="#" method="post" id="hide-content" class="inputs-envelope">
              <label class="inputs-envelope__lab i-marker">
                <input type="text" name="from" placeholder="FROM" class="inputs-envelope__item"/><span class="zip">ZIP</span>
              </label>
              <label class="inputs-envelope__lab i-marker">
                <input type="text" name="to" placeholder="TO" class="inputs-envelope__item"/><span class="zip">ZIP</span>
              </label>
              <label class="inputs-envelope__lab i-sofa">
                <input type="text" name="size" placeholder="SIZE" class="inputs-envelope__item"/>
              </label>
              <label class="inputs-envelope__label i-calendar">
                <input type="text" name="date" placeholder="DATE" class="inputs-envelope__item input-date lasts"/>
              </label>
            </form>
          </div>
        </div>
        <div class="second_line">
          <div id="hide-content1" class="main-description__inputs-envelope">
            <form action="#" method="post" id="hide-content2" class="inputs-envelope">
              <label class="inputs-envelope__lab">
                <input type="email" name="email" placeholder="EMAIL" class="inputs-envelope__item--get"/>
              </label>
              <label class="inputs-envelope__lab">
                <input type="tel" name="phone" placeholder="PHONE" class="inputs-envelope__item--get mask-phone"/>
              </label>
              <label class="inputs-envelope__lab">
                <input type="name" name="size" placeholder="SIZE" class="inputs-envelope__item--get last"/>
              </label>
            </form>
          </div>
        </div>
        <div class="order_button"><a href="#">Get a Quote</a></div>
      </div>
    </div>
    <div class="plastic_seo">
      <h2 class="heading">Seo text</h2>
      <p class="texting">Don't spend money on cardboard boxes just to throw them away after you are unpacked. Would you like help simplifying your life and saving cash at the same time? Wouldn't it be great if a Royal moving company would deliver plastic moving boxes right to your door that were ready to pack, didn't need tape, were 50 times stronger than cardboard? And then this company move you to new place and charged you just for moving hours not for plastic boxes and moving supplies.</p>
    </div>
  </div>
</div>