
<div class="price">
  <div class="container">
    <div class="inclusive_price">
      <h2 class="heading">Our all inclusive price</h2>
      <p class="text">monday-thursday</p>
      <div class="banners">
        <p class="innerText">89</p>
        <p class="innerTextBottom">per hour</p>
      </div>
      <div class="info">
        <p>average bill for 1BD apt</p><span>$297</span>
      </div>
      <div class="button"><a href="#">Get a quote</a></div>
    </div>
    <div class="size">
      <h2 class="heading">Choose your size!</h2>
      <p class="text bold">we provide 3 types of moving include:</p>
      <ul class="moving_first">
        <li>Packing & Unpacking</li>
        <li>Disassembly & Reassembly</li>
      </ul>
      <ul class="moving_second">
        <li>Basic Insurance</li>
        <li>No Truck & Gas Fee</li>
        <li>All Taxes Included</li>
      </ul>
      <div class="move_variants">
        <div class="variant"><img src="../img/move.png" data-rjs="../img/2x/move@2x.png" alt="img1"/>
          <p class="title">Small move</p>
          <p class="variant_text">2 Movers & Small Truck</p><a href="#">Get a quote</a>
        </div>
        <div class="variant best_choice"><img src="../img/move3.png" data-rjs="../img/2x/move3@2x.png" alt="img2"/>
          <p class="title">Standard Move</p>
          <p class="variant_text">3 Movers & Big Truck</p><a href="#">Get a quote</a>
        </div>
        <div class="variant">
          <div class="obg"><img src="../img/move4.png" data-rjs="../img/2x/move4@2x.png" alt="img3"/></div>
          <p class="title">Big move</p>
          <p class="variant_text">4 Movers & Big Truck</p><a href="#">Get a quote</a>
        </div>
      </div>
    </div>
    <div class="money_save">
      <h2 class="heading">How can you save money?</h2>
      <p class="text">some copy here</p>
      <div class="chart_text"><span class="caption_chart">$89</span><span>average cost by hour</span><span>mon-thu</span></div>
      <ul class="chart">
        <li><span class="gray sun">$120</span></li>
        <li><span class="gold mon">$89</span></li>
        <li><span class="gold tue">$89</span></li>
        <li><span class="gold wed">$80</span></li>
        <li><span class="gold thu">$91</span></li>
        <li><span class="gray fri">$100</span></li>
        <li><span class="gray sat">$140</span></li>
      </ul>
      <ul class="legend">
        <li><span>sun</span></li>
        <li><span>mon</span></li>
        <li><span>tue</span></li>
        <li><span>wed</span></li>
        <li><span>thu</span></li>
        <li><span>fri</span></li>
        <li><span>sat</span></li>
      </ul>
      <ul class="rotated_chart">
        <li class="gray sun"><span class="light">sun</span><span>$120</span></li>
        <li class="gold mon"><span class="light">mon</span><span>$89</span></li>
        <li class="gold tue"><span class="light">tue</span><span>$89</span></li>
        <li class="gold wed"><span class="light">wed</span><span>$88</span></li>
        <li class="gold thu"><span class="light">thu</span><span>$91</span></li>
        <li class="gray fri"><span class="light">fri</span><span>$100</span></li>
        <li class="gray sat"><span class="light">sat</span><span>$140</span></li>
      </ul>
    </div>
    <div class="smart">
      <h2 class="heading">Smart way!</h2>
      <div class="wrapper">
        <div class="lettering">
          <div class="caption">
            <p>Using your plastic</p>
            <p>boxes you save:</p>
          </div>
          <div class="smart_chart">
            <ul>
              <li>Belongings</li>
              <li>Time</li>
              <li>Money</li>
              <li>Environment</li>
            </ul>
          </div>
          <div class="smart_button"><a href="#">Learn more</a></div>
        </div>
        <div class="img"><img src="../img/bg_smart.jpg" alt="img"/></div>
      </div>
    </div>
  </div>
</div>